
body { 
    font-family: sans-serif; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 15px;
}

img {
    max-width: 100%;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    border: 10px; 
}

.logo h1 {
    font-size: 40px;
    margin: 40px 0;font-weight: 400;
}

.logo h1 a {
    color: #999;
}

.logo h1 a:hover {text-decoration: none;opacity: .7}

.logo h1 a span {
    color: #1abc9c;
}

.shopping-item {
    border: 1px solid #ddd;
    float: right;
    font-size: 18px;
    margin-top: 40px;
    padding: 10px;
    position: relative;
}

.shopping-item a {
    color: #666;
}

.shopping-item i.fa {
    margin-left: 15px;
}

.shopping-item:hover {
    background: none repeat scroll 0 0 #1abc9c;
    border-color: #1abc9c;
}

.shopping-item:hover a {
    color: #fff;text-decoration: none
}

a:focus {outline: 0px solid}

a {color: #1abc9c}

a:hover, a:focus {color: #17a78b}

.mainmenu-area {
    background: none repeat scroll 0 0 #1abc9c;
    font-family: sans-serif;
    text-transform: uppercase;
    width: 100%;
    z-index: 999;
}

.mainmenu-area ul.navbar-nav li a {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 20px;
}

.mainmenu-area ul.navbar-nav li:hover a, .mainmenu-area ul.navbar-nav li.active a {background: #222}

.mainmenu-area .nav > li > a:focus {color: #000}

.product-big-title-area {background: url(../images/crossword.png) repeat scroll 0 0 #1ABC9C}

.product-bit-title h2 {
    font-family: raleway;
    font-size: 50px;
    font-weight: 200;
    margin: 0;
    padding: 50px 0;color: #fff;
}

.maincontent-area {
    position: relative;
    overflow: hidden;
    padding-bottom: 170px   
}

.latest-product .owl-nav {
    position: absolute;
    right: 0;
    top: 0;
}

.latest-product .owl-nav div {
    border: 1px solid #1abc9c;
    color: #1abc9c;
    display: inline-block;
    margin-left: 15px;
    padding: 1px 10px;
}

.latest-product .owl-nav div:hover {color: #222;border-color: #222}

.section-title {
    font-family: "Raleway",sans-serif;
    margin-top: 25px;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 25px;
    text-align: center;
}

.product-carousel {
    padding-top: 40px;
}

.footer-top-area {
    position: relative;
    overflow: hidden;
    background: none repeat scroll 0 0 #333;
    color: #999;
    padding: 35px 0 35px;
}

.footer-about-us span {
    color: #1abc9c;
}

.footer-about-us h2 {
    font-weight: 200;
}

.footer-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.footer-menu ul li {
    border-bottom: 1px dashed #555;
    padding: 15px 0;
    
}

.footer-menu a {
    display: block;
    padding: 5px 0;color: #999
}

.footer-wid-title {
    font-family: raleway;
    font-size: 30px;
    font-weight: 100;color: #fff
}

.footer-bottom-area {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    padding-bottom: 25px;
}

.copyright > p {
    margin: 10px 0 0;
}

.user-menu li a i.fa {
    margin-right: 5px;
}

.single-shop-product h2 {
    font-size: 20px;
    margin: 10px 0;
}
.descr{
    font-size: 12px
}

.product-option-shop {
    margin-top: 15px;
}

.single-shop-product {margin-bottom: 50px}

.pagination > li > a, .pagination > li > span {
    color: #1abc9c;
}

.single-product-area {
    padding: 80px 0 130px;
    position: relative;
    overflow: hidden
}

.single-sidebar {
    margin-bottom: 50px;
}

.single-sidebar > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.single-sidebar li {
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
}

.single-sidebar a {
    display: block;
}

.sidebar-title {
    color: #3dc6ab;
    font-size: 25px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.single-shop-product h2 {
    font-size: 20px;
    margin: 10px 0;
}

.single-shop-product {margin-bottom: 50px}

.price{
    color: #424954;
    font-family: Verdana;
    padding-right: 10px;
    font-size: 21px;
    font-weight: bold;
    text-align: right;
}

.discprice{
    color: #CC0000;
    font-family: Verdana;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
}

.woocommerce-info {
    background: none repeat scroll 0 0 #f4f4f4;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 15px;
}

.col2-set {
    margin-left: -30px;
    overflow: hidden;
}

.col-1, .col-2 {
    float: left;
    margin-left: 30px;
    width: 360px;
}

input[type="text"], input[type="password"], input[type="email"]{
    border: 1px solid #ddd;
    padding: 10px;
}

input[type="submit"], button[type=submit] {
    background: none repeat scroll 0 0 #1abc9c;
    border: medium none;
    color: #fff;
    padding: 11px 20px;
    text-transform: uppercase;
}

input[type="submit"]:hover, button[type=submit]:hover {background-color: #222}

#login-form-wrap, #coupon-collapse-wrap {
    background: none repeat scroll 0 0 #f4f4f4;
    margin-bottom: 30px;
    padding: 25px;
}

#login-form-wrap label {
    display: block;
    margin-bottom: 5px;
}

#login-form-wrap input[type="text"], #login-form-wrap input[type="password"] {
    margin-bottom: 10px;
    width: 250px;
}

#login-form-wrap input[type="submit"] {
    margin-bottom: 15px;
}

#customer_details label {
    display: block;
    margin: 0 0 5px;
}

#customer_details input[type="text"], #customer_details textarea {
    margin-bottom: 10px;
    width: 100%;
}

.form-login-signup {
    background: none repeat scroll 0 0 #f4f4f4;
    margin-bottom: 20px;
    padding: 15px;
}



.google-maps {
  position: relative;
  padding-bottom: 90%;
  height: 0;
  overflow: hidden;
}
.google-maps > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 85%;
}

.testo-footer{
     font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 75%
}

.area-main-content {  
    padding-bottom:50px;
    padding-top: 50px;
}

.errors{
    color:#c82829
}

.admin-profile{
    padding-bottom:300px;
    padding-top: 30px;
    padding-left: 30px;
    
}

.center {
  margin: auto;
  width: 50%;
  padding: 5px;
}

.form > .center {
  margin: auto;
  padding: 0px;
  width: 50%;
}

.form-width {
    width: 400px;
}

.pulsante_staff{
    
    border: 1px solid #ddd;
    font-size: 18px;
    text-align: center;
    margin-top: 60px;
    padding: 10px;
    position: relative;
}

.pulsante_staff:hover {
    background: none repeat scroll 0 0 #1abc9c;
    border-color: #1abc9c;
}

.pulsante_staff:hover a {
    color: #fff;text-decoration: none
}

/*
 *
 *
 *
 *
 * FINE CLASSI USATE
 *
 *
 *
 *
 */

/*
 *
 *ALLA FINE LE CLASSI PER ORA NON USATE STARANNO NEL FILE style_NON_IN_USO
 *HO ELIMINATO LA PARTE QUA SOTTO DI CLASSI NON ANCORA UTILIZZATE, QUINDI SE FACCIO RUN NON AVRO' IL LAYOUT GIUSTO
 *SE DOVESSIMO FARE DELLE PROVE DOVREMO INCOLLARE IL CONTENUTO DI style_NON_IN_USO QUI SOTTO
 *OGNI VOLTA CHE AGGIUNGEREMO ELEMENTI DI LAYOUT DOBBIAMO ASSICURARCI CHE LE CLASSI USATE 
 *SONO IN BOOTSTRAP O NEL FILE style.css, SE INVECE SONO NEL FILE style_NON_IN_USO
 *DOVREMO TAGLIARLE E INCOLLARLE IN QUESTO FILE
 *
 *
 *
 */










